/realse.zip
/realse
/server/release
/server/control-server.exe
/server/control-server-cli.exe
/server/kkyy_com.exe
/server/.idea
/server/dist
/server/config/control.json
/ui/.vscode
/release
release.zip
/server/icon
ui/node_modules.zip
server/server.exe~
server/server.exe
server/go_build_server.exe~
server/go_build_server.exe
/server/config/control
