/realse.zip
/realse
/server/release
/server/control-server.exe
/server/control-server-cli.exe
/server/kkyy_com.exe
/server/.idea
/server/dist
/server/config/control.json
/ui/.vscode
/release
release.zip
/server/icon
