.control-item{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 10vh;
    padding: 5px;
    margin: 2px;
    align-items: center;
}
.control-cm-border{
    background: #ecf5ff;
    border: #a0cfff solid 2px;
    border-radius: 2px;
}

.control-btn-001{
    width: 5vw;
    height: 5vh;
}

.copilot-sort-icon{
    display: flex;
    justify-content:center;
    align-items: center;
    background: #d1edc4;
    width: 8vw;
    height: 100%;
}