.control-item {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.control-for-list{
    width: 95vw;
    height: 15vmax;
    max-height: 100px;
    padding: 5px;
}

.control-cm-border {
    background: #ecf5ff;
    border: #a0cfff solid 2px;
    border-radius: 2px;
}

.control-btn-001 {
    width: 7vmax;
    max-width: 45px;
    height: 7vmax;
    max-height: 45px;
}

.copilot-sort-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1edc4;
    width: 8vw;
    height: 100%;
}